<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	<h1> Welcome, <%= uname.name %></h1>

	
	<br>
	
	<a href="/scout_home/profile">Profile</a>  |  
	<a href="/scout_home/place_req">Place Add Request</a>  |
	<a href="/scout_home/place_list">Place List</a>  |  
	<a href="/logout">logout</a> 

</body>
</html>
