<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	<h1> Welcome, <%= uname %></h1>

	
	<br>

	<a href="/admin_home/profile">Profile</a>  |
	<a href="/admin_home/create">Create User</a>   |
	<a href="/admin_home/userlist">User list</a>  |
	<a href="/country/add_country">Add Country</a>  |
	<a href="/country/country_list">Country List</a>  |
	<a href="/logout">logout</a> 

</body>
</html>
