<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
	<h1> Welcome, <%= user.name %></h1>
	<br>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	
	<a href=""><i class="fas fa-bell"><%= reqst %></i></a>  |
	<a href="/admin_home/profile">Profile</a>  |
	<a href="/admin_home/create">Create User</a>   |
	<a href="/admin_home/userlist">User list</a>  |
	<a href="/country/add_country">Add Country</a>  |
	<a href="/country/country_list">Country List</a>  |
	<a href="/logout">logout</a> 

</body>
</html>
