<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	<h1> Welcome, <%= uname %></h1>

	<a href="/job/create">Add Job</a>  |
	<a href="/employee_home/job_list">Job list</a>  |
	<a href="/logout">logout</a> 

</body>
</html>
