<!DOCTYPE html>
<html>
<head>

	<title>Login page</title>
	 <link rel="stylesheet" href="/abc/css/login.css">
</head>
<body>
	<form method="post">
		<div class="login-page">
  			<div class="form">
    			<form class="login-form">
					<% if(length == false) { %>
						<span style="color: rgb(206, 49, 49); font-size: 14px;">*<%= error %></span>
				   <%  } %>
					  <input type="text" name="username" placeholder="username"/>
					  <% if(username != null) { %>
						<span style="color: rgb(206, 53, 53); font-size: 14px;">*<%= username.msg %></span>
				   <%  } %>
					  <input type="password" name="password" placeholder="password"/>
					  <% if(password != null) { %>
						<span style="color: rgb(206, 53, 53); font-size: 14px">*<%= password.msg %></span>
				   <%  } %>
      				<button name="submit">login</button>
      				<p class="message">Not registered? <a href="/Register">Create an account</a></p>
    			</form>
  			</div>
		</div>






		<!-- <fieldset>
			<legend>LOGIN</legend>
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
			<a href="/home">Back</a>
		</fieldset> -->
	</form>
</body>
</html>