<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	<h1> Welcome, <%= uname %></h1>

	
	<br>

	<a href="/user/search">Search User</a>  |
	<a href="/admin_home/profile">Profile</a>  |
	<a href="/logout">logout</a> 

</body>
</html>
